@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

body{
    margin: 0;
    background: black;
}



nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 60px;
}

.order{
    width: 170px;
    height: 40px;
    font-family: "Martian Mono", monospace;
    box-shadow: 0px 0px 5px white;
}

